
@import '~bootstrap/dist/css/bootstrap.min.css'
@import '~bootstrap/dist/css/bootstrap-theme.min.css'

@import url(https://cloud.github.com/downloads/lafeber/world-flags-sprite/flags16.css)
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css)

#application
  max-width: 1500px
  margin: auto

.navbar-brand
  padding: 0px

.dropdown-menu
  min-width: 0px

#login-form
  max-width: 500px
  margin: auto
 